<!-- app/views/groups/show.html.erb -->
<h1><%= @group.name %></h1>
<p>Friend: <%= @group.friend.name %></p>
<p>Multiplier: <%= @group.multiplier %></p>
<p>Score: <%= @group.score %></p>

<h2>Teams</h2>
<table>
  <thead>
    <tr>
      <th>Team Name</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Groups', groups_path %>
